/*Non-specific to any page*/
  *
  {
    margin: 0; 
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body
  {
    background: #000808;
    color: white; 
  }
  .container
  {
    padding: 10px 10%;
  }

/*Menu Bar*/
  nav
  {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo
  {
    width: 200px;
  }
  nav ul li
  {
    display: inline-block;
    list-style: none;
    margin: 10px 20px; 
  }
  nav ul li a
  {
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after
  {
    content: '';
    width: 0;
    height: 3px; 
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px; 
    transition: 0.5s;
  }
  nav ul li a:hover::after
  {
    width: 100%; 
  }

/*Header*/

  .header-text
  {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .header-text h1
  {
    font-size: 60px;
    margin-top: 20px;
  }

  .header-text p
  {
    margin-top: 20px;
    font-size: 25px;
  }

/*-----------3d-work-----------*/

  #work-3d
  {
    padding: 50px, 0;
  }

  #work-3d .sub-title
  {
    font-size: 40px;
    margin-bottom: 20px;
  }

  #work-3d .container p
  {
    font-size: 25px;
  }

  video
  {
    width: 100%;
    border-radius: 10px;

    transition: transform .5s;
  }

  /*Work Grid*/
  .video-grid-1
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }

    .video-grid-1-1
    {
      display: grid; 
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 20px; 
    }

  .video-grid-2
  {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }


  .video-grid-3
  {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
  }

    .video-grid-3-1
    {
      display: grid; 
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 20px; 
    }


  video:hover
  {
    transform: scale(1.1);
    border-style: outset;
  }

/*-----------CSS for small screen-----------*/

nav .fas
{
  display: none;
}

@media only screen and (max-width: 600px)
{
  /*home*/
  #header
  {
    background-image: url(images/phone-background.png);
  }
  .header-text
  {
    margin-top: 100%;
    font-size: 16px;
  }
  .header-text h1
  {
    font-size: 30px;
  }
  /*menu*/
  nav .fas
  {
    display: block;
    font-size: 25px;
  }
  nav ul
  {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;          /*changes on menu click*/
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;

    transition: right 0.5s;
  }
  nav ul li
  {
    display: block;
    margin: 25px;
  }
  nav ul .fas
  {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  /*About me*/
  .sub-title
  {
    font-size: 40px;
  }
  .about-col-1, .about-col-2
  {
    flex-basis: 100%;
  }
  .about-col-1
  {
    margin-bottom: 30px;
  }
  .about-col-2
  {
    font-size: 14px;
  }
  .tab-links
  {
    font-size: 16px;
    margin-right: 20px;
  }
  /*contact*/
  .contact-left, .contact-right
  {
    flex-basis: 100%;
  }

}